#content {
    background-color: #f8f9fa;
    /* background-color: #5984b6; */
    color: #212529;
    transition: all 0.5s ease 0s;
}

#content2 {
    background-color: #f8f9fa;
    /* background-color: #5984b6; */
    color: #212529;
    transition: all 0.5s ease 0s;
}

#content2 .card {
    background-color: #f8f9fa;
    /* background-color: #5984b6;
    border: #5984b6; */
    color: #212529;
    transition: all 0.5s ease 0s;
}

#content1 {
    background-color: #f8f9fa;
    color: #212529;
    height: 100vh;
    max-width: 100%;
    transition: all 0.5s ease 0s;
}

#content3 {
    /* height: 110vh; */
    background-color: #f8f9fa;
    color: #212529;
    max-width: 100%;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

.card-title {
    font-weight: bold;
}

.day {
    background-image: url("images/bgp.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top 50px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.night {
    /* background-image: url("images/bgp3.jpg"); */
    background-image: url("images/bgp2-2.jpg");
    background-color: #212529 !important;
    color: #f8f9fa !important;
    transition: all 0.5s ease 0s;
}

.nightbg {
    background-color: #212529 !important;
    color: #f8f9fa !important;
    border-color: #212529 !important;
    transition: all 0.5s ease 0s;
}

.hello {
    /* border: 4px solid #f8f9fa; */
    position: absolute;
    width: 50%;
    height: 230px;
    /* height: 30%; */
    top: 30%;
    left: 25%;
    right: 25%;
    background-color: #f8f9fa;
    /* color: #212529; */
    border-radius: 0.25rem;
    transition: all 0.5s ease 0s;
}

.night_text {
    background-color: #212529 !important;
    /* color: #f8f9fa; */
    transition: all 0.5s ease 0s;
}

.pic {
    max-width: 350px;
    border-radius: 50%;
    border: solid 1px #AAA;
    transition: all 0.5s ease 0s;
}

.pic:hover {
    box-shadow: 0.5rem 0.5rem 20px #3f474e;
    /* transform: scale(1.1, 1.1); */
}

.bg_pur {
    background-color: rgb(143, 70, 211);
}

.bg_bro {
    background-color: rgb(90, 45, 45);
}

.bg_ora {
    background-color: rgb(253, 105, 47);
}

.bg_pin {
    background-color: rgba(253, 59, 91, 0.815);
}

.bg_gre {
    background-color: rgb(132, 168, 0);
}

.bg_mid {
    background-color: rgb(153, 59, 130);
}

.footer {
    background-color: #212529;
}

.contact {
    background-color: #f8f9fa;
    /* background-color: #5984b6; */
    /* background: transparent; */
    text-align: center;
    text-decoration: none;
}

.contact a {
    text-decoration: none;
}

.tex {
    color: #212529;
    font-size: larger;
    font-weight: bold;
}

.night_tex {
    color: #f8f9fa;
    transition: all 0.5s ease 0s;
}

.contact img {
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    transition: all 0.5s ease 0s;
}

.contact img:hover {
    opacity: 0.7;
}

.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

#header .navbar-nav .nav-link {
    color: #f8f9fa;
    border: 2px solid #212529;
    padding-top: 1px;
    padding-bottom: 1px;
    transition: all 0.5s ease 0s;
}

#header .navbar-nav .nav-link:hover {
    /* font-weight: bold; */
    border: 2px solid #f8f9fa;
    border-radius: 20px;
    /* border-bottom: 2px solid #5984b6; */
    /* color: #5984b6; */
}

.navbar-brand {
    border-bottom: 2px solid #f8f9fa;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
}

#content2:target:before {
    content: "";
    display: block;
    height: 100px;
}

#content3:target:before {
    content: "";
    display: block;
    height: 50px;
}

.hello h2 {
    margin-top: 3rem;
}

.content3 .card {
    /* border: 4px solid #212529; */
    border: none;
}

h2 {
    font-weight: bold;
}

.content3 .card {
    transition: all 0.5s ease 0s;
}

.content3 .card:hover {
    transform: scale(1.1, 1.1);
    z-index: 10;
    /* opacity: 0.6; */
}

.badge {
    transition: all 0.5s ease 0s;
}

.badge:hover {
    box-shadow: 0.3rem 0.3rem 10px #3f474e;
    /* transform: translate( -0.1rem, -0.1rem); */
}

.form-switch .form-check-input {
    /* background-color: #ec8938; */
    background-color: #ecc43d;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
    box-shadow: none;
    width: 2.3em;
    height: 1.3em;
}

.form-check-input:checked {
    /* background-color: #5d36eb; */
    background-color: #3651eb;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.load {
    top: 37%;
    position: relative;
}

#loading {
    width: 200px;
    height: 200px;
    border-width: 15px;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #f8f9fa;
    z-index: 9999;
}

@media screen and (max-width: 992px) {
    .hello {
        width: 70%;
        height: 200px;
        top: 35%;
        left: 15%;
    }
    .content3 {
        height: auto;
    }
    .navbar-brand {
        border-bottom: 2px solid #f8f9fa;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .footer .navbar-brand {
        margin-bottom: 5%;
    }
    .navbar {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .navbar-nav {
        padding-top: 0.5em;
    }
    .nav-link {
        margin-top: 0.25em;
    }
    .day {
        background-size: 100% 100%;
    }
    #loading {
        width: 100px;
        height: 100px;
        border-width: 10px;
    }
}