<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api串接練習2</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="main">
        <div id="mytag">
            <div class="title">
                <h1>我的最愛</h1>
            </div>
            <div id="tag">
                <p class="card" v-for="(item,index) in checked">{{ item }}
                    <button class="detail" v-on:click="goto(index)">詳細</button>
                    <button class="warning" v-on:click="remove(index)">刪除</button>
                </p>
            </div>
        </div>
        <div id="hotel">
            <div class="title">
                <h1>新竹市合法旅宿資料名冊<br><a href=https://data.gov.tw/dataset/67759>(資料來源:政府資料開放平台)</a></h1>
            </div>
            <div id="contain"></div>
        </div>
        <div id="load" v-if="loading">
            <p>Loading...</p>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        var cros = 'https://cors-anywhere.herokuapp.com/';
        var originUrl = "https://odws.hccg.gov.tw/001/Upload/25/opendata/9059/85/bdb55836-7978-4f9c-bd88-325568fb3f56.json";
        var dataUrl = cros + originUrl;

        // 利用XMLHttpRequest串接API
        // var xhr = new XMLHttpRequest();
        // xhr.open('GET', dataUrl, true);
        // xhr.send();
        // xhr.onload = function() {
        //     var dataset = JSON.parse(this.responseText);

        //     if (this.readyState === 4 && this.status === 200) {
        //         dataset.forEach((data) => {
        //             let newCard = document.createElement("div");
        //             newCard.className = "infoCard";
        //             document.querySelector("#contain").appendChild(newCard);
        //             let newCardInfo = `                        
        //             	<div class="order">${data.序號}</div>
        //             	<h3 class="name">${data.旅館名稱}</h3>
        //             	<p class="address">營業地址 : ${data.營業地址}</p>
        //             	<p class="tel">電話 : ${data.電話}</p>
        //             	<p class="low">最低價格 : ${data.最低價格} 元</p>
        //             	<p class="high">最高價格 : ${data.最高價格} 元</p>
        //             	<p class="num">房間總數 : ${data.房間總數} 間</p>
        //                 <input type="checkbox" id="checkbox${data.序號}" value="${data.序號}.${data.旅館名稱}" v-model="checked">
        //                 <label for="checkbox${data.序號}">加入最愛</label>
        //         	`;
        //             newCard.innerHTML = newCardInfo;
        //         })
        //     }
        // };

        // 利用axios串接API
        axios.get(dataUrl)
            .then((response) => {
                response.data.forEach((data) => {
                    let newCard = document.createElement("div");
                    newCard.className = "infoCard";
                    document.querySelector("#contain").appendChild(newCard);
                    let newCardInfo = `                        
                    	<div class="order">${data.序號}</div>
                    	<h3 class="name">${data.旅館名稱}</h3>
                    	<p class="address">營業地址 : ${data.營業地址}</p>
                    	<p class="tel">電話 : ${data.電話}</p>
                    	<p class="low">最低價格 : ${data.最低價格} 元</p>
                    	<p class="high">最高價格 : ${data.最高價格} 元</p>
                    	<p class="num">房間總數 : ${data.房間總數} 間</p>
                        <input type="checkbox" id="checkbox${data.序號}" value="${data.序號}.${data.旅館名稱}" v-model="checked">
                        <label for="checkbox${data.序號}">加入最愛</label>
                	    `;
                    newCard.innerHTML = newCardInfo;
                })

                //控制讀取畫面消失
                myvue.mount("#main");
                document.getElementById("load").style['z-index'] = '-5';
                myvue.loading = false;
            })
            .catch((error) => console.log(error))
    </script>


    <script>
        let myvue = Vue.createApp({
            data() {
                return {
                    note: "#",
                    checked: ['範例:歡迎使用'],
                    loading: true
                }
            },
            methods: {
                remove: function(index) {
                    let recheck = window.confirm('確定刪除此標籤?');
                    if (recheck) {
                        this.checked.splice(index, 1);
                    } else {
                        alert('您已取消確認');
                    }
                },
                goto: function(index) {
                    //取出旅館序號
                    this.note = this.checked[index].split(".").splice(0, 1);
                    //mytag區塊高度
                    let tagh = document.getElementById("mytag").offsetHeight;
                    //旅館input與頂端距離
                    let checkt = document.getElementById("checkbox" + this.note).offsetTop;
                    document.documentElement.scrollTop = checkt - tagh - 300;
                }
            }
        });
    </script>

</body>

</html>