body {
    /* width: 70%; */
    margin: auto;
    font-family: "Helvetica", "Arial", "LiHei Pro", "微軟正黑體", sans-serif;
}

.title {
    /* margin-bottom: 50px; */
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

.infoCard {
    margin-bottom: 50px;
}

.order {
    border-bottom: 3px solid rgb(129, 129, 129);
    font-weight: bold;
}

#hotel {
    background-color: rgb(155, 190, 135);
    /* position: relative;
    top: 30px; */
    padding-top: 18rem;
    padding-left: 15%;
    padding-right: 15%;
}

#mytag {
    background-color: rgb(168, 210, 235);
    position: fixed;
    width: 70%;
    /* width: 100%; */
    height: 32%;
    padding-left: 15%;
    padding-right: 15%;
    /* overflow-y: scroll; */
    overflow-y: auto;
}

#tag {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    color: #000;
    margin-right: 16px;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(59, 59, 59);
    transition: all 0.5s ease 0;
    background-color: rgb(253, 219, 105);
    font-weight: bold;
}

.card button:hover {
    transform: scale(1.1, 1.1);
}

.card button {
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.warning {
    color: crimson;
}

#load {
    background-color: rgb(255, 255, 255);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#load p {
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    #hotel {
        padding-top: 15rem;
    }
    /* #mytag {
        width: 70%;
    } */
    .card button {
        display: block;
        margin: auto;
        margin-top: 10px;
        font-size: 16px;
    }
    .card {
        width: 100%;
        text-align: center;
    }
}